.sf-submenu-left {
	position: fixed;
	width: 350px;
	z-index: 100;
	top: 25%;
	left: -300px;
	background-color: transparent;
	transition: 0.3s;
}

.sf-submenu-left:hover {
	left: 0px;
	transition: 0.3s;
}

.sf-submenu-left-content {
	background-color: #ffffff;
	color: black;
	height: 100%;
	margin-right: 50px !important;
	padding: 10px;
	border: 1px solid white;
	
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.sf-submenu-left-close {
	position: absolute;
	top: 50%;
	background-color: #454545;
	right: -55px;
	z-index: 101;
	text-align: center;
	border-radius: 25%;
	font-size: 20px;
	padding: 10px;
	z-index: -1;
	
	transform: rotate(90deg);
	transform-origin: left top 0;
}

@media only screen and (max-width: 700px) {
	.sf-submenu-left-close {
		right: -55px;
	}
}

.sf-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/*
.sf-submenu-left-close:hover {
	transform: scale(1.1);
	cursor: pointer;
}
*/
