html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	background-color: #282828;
}

h2 {
	color: white;
	padding: 0;
	margin: 0;
	margin: 10px;
}

#header {
	background-color: black;
	color: white;
	height: 90px;
	line-height: 75px;
	text-align: center;
	border: 1px solid black;
}

#container {
	padding: 25px;
	padding-left: 10px;
	color: white;
}

#success-message {
	text-alignt: center;
	background-color: #73AD21;
	color: white;
	border: 2px solid green;
	padding: 10px;
	border-radius: 15px;
	margin: 20px;
	display: none;
}

#error-message {
	background-color: red;
	text-alignt: center;
	color: white;
	border: 2px solid red;
	padding: 10px;
	border-radius: 15px;
	margin: 20px;
	display: none;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    max-width: 400px;
    width: 100%;
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

input[type=password],
input[type=text] {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
   	max-width: 400px;
   	width: 100%;
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

input.invalid, textarea.invalid {
	border: 3px solid red;
}

input.valid, textarea.valid {
	border: 3px solid green;
}

input.placeholder {
    text-align: center;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}