@import "/css/rangeSlider.css";
@import "/css/leftSubmenu.css";

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	padding: 0;
	border: 0px solid white;
	background-color: #282828;
	color: white;
}

html {
	height: 100%;
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
	min-height: 100%;
	position: relative;
	margin: 0;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

 article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
    display: block;
}

h2 {
	color: white;
	padding: 0;
	margin: 0;
	margin: 10px;
}

#header {
	background-color: black;
	color: white;
	height: 90px;
	line-height: 75px;
	text-align: center;
	border: 1px solid black;
}

#container {
	color: white;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	text-align: center;
	padding: 15px;
	min-height: 100%;
}

.container {
	color: white;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	text-align: center;
	padding: 15px;
	min-height:100%;
	width: 100%;
}

#success-message {
	text-alignt: center;
	background-color: #73AD21;
	color: white;
	border: 2px solid green;
	padding: 10px;
	border-radius: 15px;
	margin: 20px;
	display: none;
}

#error-message {
	background-color: red;
	text-alignt: center;
	color: white;
	border: 2px solid red;
	padding: 10px;
	border-radius: 15px;
	margin: 20px;
	display: none;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    max-width: 400px;
    width: 100%;
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.sf-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    max-width: 400px;
    width: 100%;
    margin: 2px;
}

.sf-button:hover {
	cursor: pointer;
	background-color: #119DCB;
}

.button:hover {
	cursor: pointer;
	background-color: #007BA9;
}

input[type=password],
input[type=text] {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
   	max-width: 400px;
   	width: 100%;
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

input[type=range] {
	margin-left: 0px;
}

input.invalid, textarea.invalid {
	border: 3px solid red;
}

input.valid, textarea.valid {
	border: 3px solid green;
}

input.placeholder {
    text-align: center;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.sf-loader-big {
	border: 20px solid #f3f3f3;
	border-radius: 50%;
	border-top: 20px solid #3498db;
	width: 150px;
	height: 150px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.display-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%)
}

.opacity-min {
	opacity: 0.75;
}

 .content{
    max-width: 980px;
    margin: auto;
}

 .sf-black{
    color: #fff!important;
    background-color: #000!important;
}

.sf-padding{
    padding: 8px 16px!important;
}

.sf-center {
	text-align: center;
}

.sf-padding-min {
	padding: 10px;
}

.sf-border-white {
	border: 1px solid white;
}

 .sf-image-resizeable {
    max-width: 100%;
    height: auto;
}

.sf-image-circle {
	border-radius: 50%;
	padding: 15px;
}

.sf-big-on-hover {
	
}

.sf-big-on-hover:hover {
	transform: scale(1.02);
}

@media only screen and (max-width: 700px) {
	.sf-big-on-hover:hover {
		transform: scale(1.0);
	}
}

.sf-card {
	background-color: #232323;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    transition: 0.3s;
   	margin: 8px;
}

.sf-card:hover {
	transform: scale(1.05);
}

.sf-card a {
	text-decoration: none;
	color: white;
}

/********/
.sf-card-white {
    margin: 6px;
}

/* ==== Responsive ==== */

.sf-responsive {
    float: left;
    width: 23%;
}

@media only screen and (max-width: 700px){
    .sf-responsive {
        width: 48.5%;
    }
    .sf-card:hover {
		transform: scale(1.00);
	}
}

@media only screen and (max-width: 500px){
    .sf-responsive {
        width: 100%;
        margin: 8px auto!important; 
    } 
    
    .sf-card:hover {
		transform: scale(1.00);
	}
}


/* ==== Responsive - TWO ==== */
.sf-responsive-two {
    float: left;
    width: 49.99999%;
}

@media only screen and (max-width: 500px){
    .sf-responsive-two {
        width: 100%;
    } 
}

/* ==== Responsive - FIVE ==== */
.sf-responsive-five {
    float: left;
    width: 19.9999%;
}

@media only screen and (max-width: 500px){
    .sf-responsive-five {
        width: 100%;
    } 
}

/* ===== */

.sf-horizontal {
	float: left;
}

.display-container {
	position: relative;
}

.sf-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* ========== OVERLAY CONTAINER ========== */
.overlay-container {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 8;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.95);
	transition: 0.5s;
	overflow-x: hidden;
	margin-bottom: 25%!important;
}

.overlay-container .closebtn {
	position: absolute;
	right: 35px;
	font-size: 60px;
}

.overlay-container a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #c0c0c0;
	display: block;
	transition: 0.4s;
}

.overlay-container a:hover, .overlay a:focus {
    color: #f1f1f1;
}

@media only screen and (max-width: 700px){
    .overlay-container .closebtn {
		position: absolute;
		right: 5px;
		font-size: 25px;
	}
	
	.overlay-container {
		height: 100%;
		width: 100%;
		top: 0%;
		left: 0%;
	}
}
/*  */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.obstacles {
	list-style-type: disc;
	margin-left: 15px;
}

ul:first-letter .obstacles {
	text-transform: uppercase;
}


ul:first-letter {
	text-transform: uppercase;
}

.loader-container {
	text-align: center;
	display: inline-block;
	padding: 10px;
	display: none;
}

.col-container {
	display: table;
	width: 100%;
}

.col {
	display: table-cell;
	padding: 25px;
}

@media only screen and (max-width: 700px) {
    .col {
        display: block;
        width: 100%;
    }
}

.sf-wrapper {
	width: 100%;
}

.sf-sticky {
	position: sticky;
	top: -1px;
}

@media only screen and (max-width: 700px) {
	.sf-sticky {
		width: 100%;
		margin 0px;
	}
}